<div class="container">
  <div class="row">
    Welcome to BulbBattle!
  </div>
  <div class="row">
    <label for="playerName">Your name:</label>
    <br>
    <input #playerNameInput id="playerName" class="form-control" placeholder="Enter your name" type="text">
    <br>
    <button class="btn btn-block" (click)="confirmNameCreatePlayerAndRequestId(playerNameInput.value)">Confirm</button>
    <button class="btn btn-block" (click)="requestHighscore()">requestHighscore</button>
    <button class="btn btn-block" (click)="sendMessage(playerNameInput.value)">sendMessage</button>
    <p>{{websocketName}}</p>
    <br>
    <p>Log:</p>
    <br>
    <p>{{log}}</p>
  </div>

  <div *ngIf="isAdmin">
    <div class="row">
      <label for="numberOfRounds">Number of rounds:</label>
      <br>
      <input #numberOfRoundsInput id="numberOfRounds" class="form-control" placeholder="Enter the number of rounds to be played" type="text">
      <br>
      <button class="btn btn-block" (click)="startGame(numberOfRoundsInput.value)">Start game</button>
    </div>
  </div>
</div>